* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    height: 70px;
    padding-top: 15px;
    background-color: white;
    align-items: center;
    padding: auto;
    margin: auto;
    font-size: small;
    font-weight: 500;
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}

.img {
    margin-left: 61px;
    margin-top: 7px;
    cursor: pointer;
}

header ul {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#btn-div {
    padding-right: 80px;
}

#btn {
    height: 45px;
    width: 220px;
    font-size: medium;
    font-weight: 600;
    color: white;
    background-color: rgb(76, 76, 190);
    border: 0;
    border-radius: 999px;
    cursor: pointer;
}

#main-content {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(medical.png);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    /* position: sticky; */
    top: 0;
    z-index: -1;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    line-height: 50px;
}

#heading-div {
    height: 400px;
    width: 50%;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#heading-text {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    width: 85%;
    margin-left: 60px;
}

.btn {
    height: 45px;
    width: 220px;
    margin-top: 30px;
    font-size: medium;
    font-weight: 600;
    border: 0;
    border-radius: 999px;
    cursor: pointer;
}

#btn1 {
    margin-right: 10px;
    color: white;
    background-color: rgb(76, 76, 190);
}

#btn2 {
    margin-left: 10px;
}

#form-div {
    height: 400px;
    width: 100%;
}

#form-text {
    height: 450px;
    width: 80%;
    margin-left: 160px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(76, 76, 190);
    position: relative;
    bottom: 70px;
    border-radius: 25px;
}

.text {
    margin-bottom: 20px;
}

.form h2 {
    font-size: 45px;
    line-height: 50px;
}

.form h3 {
    font-size: 24px;
    margin: 20px 30px;
}

.form {
    height: 550px;
    width: 49%;
}

#form-heading {
    text-align: left;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 25px;
    color: white;

}

#name-phone {
    display: flex;
}

#name {
    margin-left: 20px;
}

#name-phone input {
    height: 45px;
    width: 250px;
    margin: 10px 0px;
    border: 2px solid rgba(110, 110, 110, 0.5);
    border-radius: 999px;
}

#form {
    background-color: white;
    position: relative;
    bottom: 40px;
    box-shadow: 2px 2px 2px #858484;
    border-radius: 25px;
}

#email label {
    margin-left: 20px;
}

#email input {
    height: 45px;
    width: 520px;
    margin: 10px 20px;
    border: 2px solid rgba(110, 110, 110, 0.5);
    border-radius: 999px;
}

.form-dropdown label {
    margin-left: 30px;
}

#selector {
    display: flex;
    margin: 20px 0px;
}

.form-group {
    padding: 10px;
}

#specialist {
    margin-left: 30px;
    margin-right: 20px;
}

#date label {
    margin-left: 30px;
}

#date input {
    margin-left: 30px;
    width: 520px;
    height: 45px;
    padding: 7px;
    border: 2px solid rgba(110, 110, 110, 0.5);
    border-radius: 999px;
}

#date {
    display: flex;
    flex-direction: column;
}

select {
    height: 45px;
    width: 250px;
    border: 2px solid rgba(110, 110, 110, 0.5);
    border-radius: 999px;
}

form button {
    margin: 10px 32px;
}

#btn_1 {
    height: 45px;
    width: 220px;
    font-size: medium;
    font-weight: 600;
    color: white;
    background-color: rgb(76, 76, 190);
    border: 0;
    border-radius: 999px;
    cursor: pointer;
}

input:placeholder-shown {
    padding-left: 20px;
}

#meet {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.meeting {
    width: 654px;
}

.meeting h2 {
    font-size: 37px;
}

#meet-img img {
    border-radius: 20px;
}

.meeting h3 {
    margin: 10px 0;
    font-size: 25px;
    color: #4c4cbe;
}

#btn4 {
    color: white;
    background-color: rgb(76, 76, 190);
}

#cancer {
    height: auto;
    margin-top: 100px;
    text-align: center;
}

#cancer_content {
    width: 70vw;
    margin: auto;
}

#cancer_content h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

#cancer_content h3 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #4c4cbe;
}

#cancer_content p {
    width: 60vw;
    margin: auto;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    margin-bottom: 40px;
}

#cancer_divs {
    padding: 0 180px;
}

#cancer_divs img {
    border-radius: 10px;
}

.all_divs {
    display: flex;
    margin: auto;
    padding: 10px;
    gap: 10px;
}

.cancer_div {
    height: 430px;
    width: auto;
    padding: 10px;
    background-color: rgba(76, 76, 190, 0.15);
    border-radius: 10px;
}

#cancer_divs h3 {
    font-size: 26px;
    padding: 10px 0;
}

#cancer_divs p {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.6);
}

#btn5 {
    color: white;
    background-color: #4c4cbe;
    margin-bottom: 30px;
}

#aim {
    padding: 50px;
    color: white;
    background-color: #4c4cbe;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

#aim_heading h2 {
    font-size: 46px;
}

#aim_heading p {
    font-size: 16px;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.9);
}

li {
    padding: 10px;
}

.icon {
    fill: white;
}

#aim_list {
    display: flex;
}

ul span {
    width: 13px;
}

#aim_list li {
    display: flex;
    gap: 10px;
}

#list_1 {
    width: 212px;
}

#history {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    text-align: center;
}

.number {
    height: 120px;
    width: 260px;
    background-color: #4c4cbe;
    box-shadow:
        0 15px 35px rgba(0, 0, 0, .42),
        inset 0 1px 1px rgba(255, 255, 255, .04);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.9);
}

.number span {
    font-size: 46px;
    font-weight: 600;
}

#history p {
    padding: 0;
}

#aim_img img {
    border-radius: 10px;
}

#health_container {
    height: 280px;
    width: 1000px;
    padding: 40px 200px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    background-color: #4c4cbe;
    margin: 100px 250px;
    border-radius: 10px;
}

#health_container h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#health_container button {
    font-size: 15px;
    color: rgba(76, 76, 190, 0.9);
}

#footer_main {
    padding: 50px 0 0 20px;
    display: flex;
    gap: 20px;
    text-align: left;
    font-weight: 500;
    color: white;
    background-color: #4c4cbe;
}

#footer_main h2 {
    padding-bottom: 15px;
}

#footer_main li,
a {
    padding: 10px 0 0 0;
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
}

#footer_content {
    width: 400px;
}

#footer_content img {
    margin: 0 0 20px;
}

#contact_us {
    width: 500px;
}

.footer {
    width: 22%;
}

#follow_list ul {
    display: flex;
    gap: 10px;
}

#rights {
    font-size: 20px;
    padding: 10px;
    color: #4c4cbe;
    text-align: center;
}

@media (max-width: 991px) {
    body {
        overflow-x: hidden;
    }

    header {
        height: auto;
        width: 100%;
        padding: 5px;
        overflow-x: hidden;
    }

    .img {
        height: 30px;
        margin: 10px 5px 5px 5px;
    }

    #content {
        display: none;
    }

    #btn {
        height: 40px;
        width: 150px;
        font-size: 12px;
        margin-left: 100px;
    }

    #main_content {
        /* justify-content: flex-start;
        align-items: flex-start; */
    }

    h1 {
        font-size: 30px;
        line-height: 40px;
    }

    #heading-div {
        height: auto;
        width: 80%;
        align-items: flex-start;
    }

    #heading-text {
        margin: 10px 20px;
        font-size: 14px;
        text-align: center;
    }

    #btn2 {
        margin-left: 0;
    }

    #form-div {
        height: auto;
    }

    #form-text {
        height: auto;
        width: 95%;
        margin: 0 0 0 8px;
        flex-direction: column;
        bottom: 60px;
    }

    .form h2 {
        font-size: 25px;
        line-height: 40px;
    }

    .form h3 {
        font-size: 20px;
        margin: 5px 10px;
    }

    .form {
        height: auto;
        width: 98%;
    }

    #form-heading {
        text-align: left;
        padding-right: 20px;
    }

    #form-heading {
        height: 450px;
    }

    #form{
        margin-left: 4px;
    }

    #name-phone {
        flex-direction: column;
    }

    #name {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    #email {
        display: flex;
        flex-direction: column;
    }

    #email label {
        margin-left: 0px;
    }

    #email input {
        height: 45px;
        width: 250px;
        margin: 0;
        border: 2px solid rgba(110, 110, 110, 0.5);
        border-radius: 999px;
    }

    .form-dropdown label {
        margin-left: 10px;
    }

    #selector {
        flex-direction: column;
        margin: 10px 0;
    }

    .form-group {
        padding: 10px;
    }

    #specialist {
        margin: 10px 10px;
    }

    #service {
        margin: 10px 10px;
    }

    #date label {
        margin-left: 10px;
    }

    #date input {
        width: 250px;
        margin-left: 10px;
    }

    #date {
        display: flex;
        flex-direction: column;
    }

    form button {
        margin: 10px 10px;
    }

    #btn_1 {
        height: 45px;
        width: 250px;
    }

    input:placeholder-shown {
        padding-left: 20px;
    }
}